<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easy.ChIME"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/ime_name" >
        <service android:permission="android.permission.BIND_INPUT_METHOD"
             android:name="ChIME">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:resource="@xml/method" android:name="android.view.im"/>
        </service>
        <activity android:label="@string/label_setting"
             android:icon="@drawable/ic_launcher" android:name="ChIMEPreference">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>